@import 'https://fonts.googleapis.com/css2?family=Cardo:ital@1&family=Raleway:wght@100;400;500;700;900&display=swap';
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css";
.link {
  display: block;
  margin: 65px auto 0;
  padding: 24px 0;
  width: 370px;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  color: #FFFFFF;
  background: #FF4343;
}
.link:hover {
  background: #E71414;
}
.link:active {
  background: #FF4343;
  -webkit-box-shadow: 4px 4px 30px #FF4343;
          box-shadow: 4px 4px 30px #FF4343;
}

.prime {
  position: relative;
  padding-bottom: 120px;
  width: 100%;
  min-height: 100vh;
  background-image: url("../img/prime/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.prime__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 120px auto 0;
}
.prime::after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(37, 43, 73, 0.8);
}
.prime__title {
  font-weight: 900;
  font-size: 64px;
  line-height: 75px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
.prime__description {
  max-width: 1000px;
  margin: 25px auto 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #FFFFFF;
}

.prime .container {
  position: relative;
  z-index: 2;
}

.header {
  padding: 20px 0;
  width: 100%;
  border-bottom: 1px solid #BABBC5;
}
.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -15px;
}
.header__title {
  -webkit-text-stroke: 1px #000;
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  text-transform: uppercase;
  color: #656980;
  margin: 0 15px;
}
.header__title::after {
  content: "box";
  color: #fff;
  -webkit-text-stroke: 1px transparent;
  font-weight: 100;
}
.header__navigation {
  margin: 0 15px;
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__list-active {
  left: 0;
}
.header__item {
  margin-right: 48px;
}
.header__item:last-child {
  margin-right: 0;
}
.header__link {
  position: relative;
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.header__link:active {
  color: #E71414;
}
.header__link::after {
  position: absolute;
  top: 42px;
  left: -25%;
  content: "";
  height: 1px;
  width: 0%;
  border-bottom: solid 3px #BABBC5;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}
.header__link:hover::after {
  width: 150%;
}
.header__link:active::after {
  border-bottom: solid 3px #E71414;
}

.hamburger {
  display: none;
}

.feautures {
  padding: 45px 0 116px;
}
.feautures__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -15px;
}
.feautures__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 370px;
  margin: 65px 10px 0;
}
.feautures__icon {
  width: 100px;
}
.feautures__title {
  margin-top: 50px;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #2D3033;
}
.feautures__description {
  margin-top: 45px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #6C7279;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  list-style-type: none;
  text-decoration: none;
}

.overflow {
  overflow: hidden;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.work__wrapper {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(378px, 378px));
  -ms-grid-rows: 340px 2px 340px;
  grid-template-rows: repeat(2, 340px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 2px;
     -moz-column-gap: 2px;
          column-gap: 2px;
  row-gap: 2px;
}
.work__block {
  position: relative;
  cursor: pointer;
}
.work__block:hover .work__base {
  opacity: 1;
  height: 100%;
  background: rgba(255, 67, 67, 0.8);
  border: 2px solid #FFFFFF;
  cursor: pointer;
}
.work__block:active .work__base {
  opacity: 1;
  height: 100%;
  background: rgba(185, 12, 12, 0.8);
  border: 2px solid #FFFFFF;
  cursor: pointer;
}
.work__base {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 110px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  opacity: 0;
  text-align: center;
  color: #fff;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.work__base h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}
.work__base h4 {
  margin-top: 30px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}
.work__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.team {
  padding: 114px 0;
}
.team__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
}
.team__card {
  width: 260px;
  margin: 0 15px;
}
.team__img img {
  width: 100%;
}
.team__name {
  margin-top: 30px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: capitalize;
  color: #2D3033;
}
.team__position {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #FF4343;
}
.team__description {
  margin-top: 14px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #6C7279;
}
.team__social {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.team__link {
  margin-right: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 39px;
  height: 39px;
  border: 1px solid #C6CBCD;
  cursor: pointer;
  color: #C6CBCD;
  font-size: 18px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.team__link:hover {
  color: #FF4343;
  border: 1px solid #FF4343;
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}
.team__link:active {
  color: #E71414;
  border: 1px solid #E71414;
  -webkit-box-shadow: 4px 4px 30px #FF4343;
          box-shadow: 4px 4px 30px #FF4343;
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

.slider__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.slider__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 116px 170px 116px 129px;
  background: #5C3249;
}
.slider__img {
  width: 50%;
}
.slider__img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.slider__text {
  font-family: "Cardo", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 36px;
  line-height: 49px;
  text-transform: capitalize;
  color: #FFFFFF;
}
.slider__name {
  margin-top: 15px;
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.slider .slick-list {
  overflow: hidden;
}
.slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.slider .slick-dots li {
  margin-top: 31px;
  margin-right: 25px;
}
.slider .slick-dots li:last-child {
  margin-right: 0;
}
.slider .slick-dots li.slick-active button {
  background-color: #7E5D6F;
}
.slider .slick-dots li button {
  font-size: 0;
  width: 14px;
  height: 14px;
  background-color: #FFFFFF;
  border: 1px solid #7E5D6F;
  border-radius: 50%;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  cursor: pointer;
}

.download {
  padding: 114px 0;
}
.download__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.download__title {
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  color: #000000;
}
.download__name {
  margin-top: 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.footer {
  background: #2C3154;
  padding: 24px 0;
}
.footer__copyright {
  margin: 0 auto;
  width: 370px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: capitalize;
  color: #808080;
}
.footer__copyright span {
  color: #FFFFFF;
}

.about {
  padding: 56px 0 70px 0;
  background: #353C65;
}
.about__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.about__item {
  width: 370px;
}
.about__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
.about__desription {
  margin-top: 30px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: capitalize;
  color: #FFFFFF;
}
.about__social {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about__link {
  margin: 6px 27px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 39px;
  height: 39px;
  border: 1px solid #C6CBCD;
  cursor: pointer;
  color: #C6CBCD;
  font-size: 18px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.about__link:last-child {
  margin: 6px 0 0 0;
}
.about__link:hover {
  color: #FF4343;
  border: 1px solid #FF4343;
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}
.about__link:active {
  color: #E71414;
  border: 1px solid #E71414;
  -webkit-box-shadow: 4px 4px 30px #FF4343;
          box-shadow: 4px 4px 30px #FF4343;
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

.pageup {
  display: none;
  position: fixed;
  bottom: 40px;
  right: 40px;
  height: 40px;
  width: 40px;
}
.pageup img {
  width: 100%;
}

@media (max-width: 1200px) {
  .container {
    max-width: 970px;
  }

  .prime__title {
    font-size: 48px;
    line-height: 56px;
  }
  .prime__description {
    font-size: 18px;
    line-height: 21px;
  }

  .feautures {
    padding: 13px 0 78px;
  }
  .feautures__wrapper {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .team {
    padding: 53px 0 0;
  }
  .team__wrapper {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .team__card {
    margin: 25px 15px;
  }

  .slider__item {
    margin-top: -80px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .slider__img {
    width: 70%;
    height: 40%;
  }
  .slider__description {
    width: 70%;
    padding: 50px 80px 50px 60px;
  }
  .slider .slick-dots li {
    margin-top: 20px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }

  .header__item {
    margin-right: 25px;
  }

  .prime {
    padding-bottom: 80px;
    min-height: 0;
  }
  .prime__wrapper {
    margin-top: 80px;
  }
  .prime__title {
    font-size: 36px;
    line-height: 48px;
  }
  .prime__description {
    font-size: 15px;
    line-height: 18px;
  }
  .prime .link {
    display: block;
    margin: 60px auto 0;
    padding: 24px 0;
    width: 300px;
    font-weight: 900;
    font-size: 21px;
    line-height: 25px;
  }

  .feautures__block {
    width: 350px;
  }
  .feautures__title {
    margin-top: 30px;
    font-size: 21px;
    line-height: 25px;
  }
  .feautures__description {
    margin-top: 30px;
    font-size: 15px;
    line-height: 18px;
  }

  .work__wrapper {
    grid-template-columns: repeat(auto-fit, minmax(350px, 350px));
    -ms-grid-rows: (310px)[2];
    grid-template-rows: repeat(2, 310px);
  }

  .team__name {
    margin-top: 15px;
  }
  .team__description {
    font-size: 15px;
  }
  .team__social {
    margin-top: 20px;
  }

  .slider__item {
    margin-top: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .slider__img {
    width: 70%;
    height: 40%;
  }
  .slider__description {
    width: 70%;
    padding: 40px 60px 40px 60px;
  }
  .slider__text {
    font-size: 25px;
  }
  .slider .slick-dots li {
    z-index: 10;
    margin-top: -20px;
  }

  .download {
    padding: 80px 0;
  }
  .download__title {
    font-size: 25px;
    line-height: 30px;
  }
  .download__name {
    margin-top: 20px;
    font-size: 15px;
    line-height: 18px;
  }
  .download .link {
    margin: 60px auto 0;
    padding: 24px 0;
    width: 300px;
    font-size: 21px;
    line-height: 25px;
  }

  .about__title {
    font-size: 15px;
    line-height: 18px;
  }
  .about__desription {
    margin-top: 30px;
    font-size: 15px;
    line-height: 18px;
  }

  .footer__copyright {
    font-size: 15px;
    line-height: 18px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 550px;
  }

  .header__title {
    font-size: 22px;
  }
  .header__item {
    margin-right: 15px;
  }
  .header__link {
    font-size: 11px;
  }
  .header__link::after {
    top: 40px;
  }

  .prime {
    padding-bottom: 80px;
  }
  .prime__wrapper {
    margin-top: 80px;
  }
  .prime__title {
    font-size: 34px;
    line-height: 44px;
  }
  .prime__description {
    margin-top: 40px;
  }

  .feautures__block {
    width: 370px;
  }
  .feautures__title {
    font-size: 24px;
    line-height: 28px;
  }
  .feautures__description {
    font-size: 18px;
    line-height: 21px;
  }

  .work__wrapper {
    grid-template-columns: repeat(auto-fit, minmax(250px, 250px));
    -ms-grid-rows: (250px)[2];
    grid-template-rows: repeat(2, 250px);
    grid-auto-rows: 250px;
  }
  .work__base {
    padding-top: 70px;
  }
  .work__base h3 {
    font-size: 18px;
    line-height: 24px;
  }
  .work__base h4 {
    font-size: 15px;
    line-height: 18px;
  }

  .slider__item {
    margin-top: -50px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .slider__img {
    width: 100%;
    height: 35%;
  }
  .slider__description {
    text-align: center;
    width: 100%;
    padding: 35px 60px 40px 60px;
  }
  .slider__text {
    font-size: 25px;
  }
  .slider .slick-dots li {
    margin-top: -100px;
  }

  .download {
    padding: 60px 0;
  }
  .download__title {
    font-size: 22px;
    line-height: 28px;
  }
  .download__name {
    font-size: 14px;
    line-height: 16px;
  }

  .about {
    padding: 0 0 50px 0;
  }
  .about__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .about__item {
    margin-top: 55px;
    width: 300px;
  }
  .about__title {
    font-size: 15px;
    line-height: 18px;
  }
  .about__desription {
    margin-top: 30px;
    font-size: 15px;
    line-height: 18px;
  }

  .footer__copyright {
    font-size: 15px;
    line-height: 18px;
  }
}
@media (max-width: 575px) {
  .container {
    max-width: 320px;
  }

  .header__title {
    position: absolute;
    top: 3%;
    font-weight: 900;
    font-size: 21px;
    line-height: 20px;
    z-index: 11;
  }
  .header__list {
    position: fixed;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    padding: 40px 10%;
    background: url("../img/header/bg.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 5;
    -webkit-transition: 0.6s all;
    transition: 0.6s all;
  }
  .header__list::after {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(37, 43, 73, 0.8);
  }
  .header__list-active {
    left: 0;
  }
  .header__item {
    margin-top: 45px;
    z-index: 10;
  }

  .hamburger {
    display: block;
    position: absolute;
    right: 10%;
    top: 8%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 26px;
    height: 12px;
    z-index: 11;
  }
  .hamburger span {
    display: block;
    height: 2px;
    width: 100%;
    background-color: #fff;
    margin-bottom: 2px;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
  }

  .hamburger_active span {
    margin-bottom: -2px;
  }
  .hamburger_active span:nth-child(1) {
    -webkit-transform: translateY(9px) rotate(-45deg);
            transform: translateY(9px) rotate(-45deg);
  }
  .hamburger_active span:nth-child(2) {
    display: none;
  }
  .hamburger_active span:nth-child(3) {
    -webkit-transform: translateY(3px) rotate(45deg);
            transform: translateY(3px) rotate(45deg);
  }

  .hamburger {
    top: 5%;
  }
  .hamburger span {
    margin-bottom: 4px;
  }

  .prime {
    padding-bottom: 80px;
  }
  .prime__wrapper {
    margin-top: 80px;
  }
  .prime__title {
    font-size: 36px;
    line-height: 42px;
  }
  .prime__description {
    margin-top: 40px;
    font-size: 14px;
    line-height: 16px;
  }
  .prime .link {
    margin: 60px auto 0;
    padding: 15px 0;
    width: 270px;
    font-size: 21px;
    line-height: 25px;
  }

  .feautures__block {
    width: 279px;
    margin: 50px 10px 0;
  }
  .feautures__title {
    font-size: 18px;
    line-height: 21px;
  }
  .feautures__description {
    margin-top: 10px;
    font-size: 14px;
    line-height: 16px;
  }
  .feautures__icon {
    width: 75px;
    height: 75px;
  }
  .feautures__icon img {
    width: 100%;
  }

  .work__wrapper {
    grid-template-columns: repeat(auto-fit, minmax(160px, 160px));
    -ms-grid-rows: (144px)[2];
    grid-template-rows: repeat(2, 144px);
    grid-auto-rows: 144px;
  }
  .work__base {
    padding-top: 46px;
  }
  .work__base h3 {
    font-size: 18px;
    line-height: 21px;
  }
  .work__base h4 {
    margin-top: 5px;
    font-size: 15px;
    line-height: 18px;
  }

  .slider__item {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .slider__img {
    height: 40%;
  }
  .slider__description {
    text-align: center;
    padding: 35px 15px 40px 15px;
  }
  .slider__text {
    font-size: 24px;
    line-height: 32px;
  }
  .slider__name {
    font-size: 12px;
    line-height: 14px;
  }
  .slider .slick-dots li {
    margin-top: -25px;
  }
  .slider .slick-dots li button {
    width: 9px;
    height: 9px;
  }

  .download {
    padding: 35px 0;
  }
  .download__title {
    font-size: 18px;
    line-height: 21px;
  }
  .download__name {
    font-size: 13px;
    line-height: 15px;
  }
  .download .button {
    margin: 15px auto 0;
    padding: 30px 0;
    width: 270px;
    font-size: 21px;
    line-height: 25px;
  }

  .about {
    padding: 0 0 50px 0;
  }
  .about__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .about__item {
    margin-top: 35px;
    width: 280px;
  }
  .about__title {
    font-size: 14px;
    line-height: 16px;
  }
  .about__desription {
    margin-top: 35px;
    font-size: 14px;
    line-height: 16px;
  }

  .footer__copyright {
    width: 280px;
    font-size: 14px;
    line-height: 16px;
  }

  .pageup {
    right: 15px;
  }
}