@import 'https://fonts.googleapis.com/css2?family=Cardo:ital@1&family=Raleway:wght@100;400;500;700;900&display=swap';
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css";
.button {
  display: block;
  margin: 65px auto 0;
  padding: 24px 0;
  width: 370px;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  color: #FFFFFF;
  background: #FF4343;
}
.button:hover {
  background: #E71414;
}
.button:active {
  background: #FF4343;
  -webkit-box-shadow: 4px 4px 30px #FF4343;
          box-shadow: 4px 4px 30px #FF4343;
}

.prime {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("../img/prime/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.prime__wrapper {
  margin: 120px auto;
}
.prime::after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(37, 43, 73, 0.8);
}
.prime__title {
  font-weight: 900;
  font-size: 64px;
  line-height: 75px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
.prime__description {
  max-width: 1000px;
  margin: 25px auto 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #FFFFFF;
}

.prime .container {
  position: relative;
  z-index: 2;
}

.header {
  padding: 20px 0;
  width: 100%;
  border-bottom: 1px solid #BABBC5;
  z-index: 100;
}
.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -15px;
}
.header__title {
  -webkit-text-stroke: 1px #000;
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  text-transform: uppercase;
  color: #656980;
  margin: 0 15px;
}
.header__title::after {
  content: "box";
  color: #fff;
  -webkit-text-stroke: 1px transparent;
  font-weight: 100;
}
.header__navigation {
  margin: 0 15px;
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__list-active {
  left: 0;
}
.header__item {
  margin-right: 48px;
}
.header__item:last-child {
  margin-right: 0;
}
.header__link {
  position: relative;
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.header__link:active {
  color: #E71414;
}
.header__link::after {
  position: absolute;
  top: 42px;
  left: -25%;
  content: "";
  height: 1px;
  width: 0%;
  border-bottom: solid 3px #BABBC5;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}
.header__link:hover::after {
  width: 150%;
}
.header__link:active::after {
  border-bottom: solid 3px #E71414;
}

.hamburger {
  display: none;
}

.feautures {
  padding: 45px 0 116px;
}
.feautures__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -15px;
}
.feautures__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 370px;
  margin: 65px 10px 0;
}
.feautures__icon {
  width: 100px;
}
.feautures__title {
  margin-top: 50px;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #2D3033;
}
.feautures__description {
  margin-top: 45px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #6C7279;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  list-style-type: none;
  text-decoration: none;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.work__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 378px 2px 378px 2px 378px 2px 378px;
  grid-template-columns: repeat(4, 378px);
  -ms-grid-rows: 340px 2px 340px;
  grid-template-rows: repeat(2, 340px);
  -webkit-column-gap: 2px;
     -moz-column-gap: 2px;
          column-gap: 2px;
  row-gap: 2px;
}

.work__wrapper > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.work__wrapper > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.work__wrapper > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.work__wrapper > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}

.work__wrapper > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.work__wrapper > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.work__wrapper > *:nth-child(7) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}

.work__wrapper > *:nth-child(8) {
  -ms-grid-row: 3;
  -ms-grid-column: 7;
}
.work__block {
  position: relative;
  cursor: pointer;
}
.work__block:hover .work__base {
  opacity: 1;
  height: 100%;
  background: rgba(255, 67, 67, 0.8);
  border: 2px solid #FFFFFF;
  cursor: pointer;
}
.work__block:active .work__base {
  opacity: 1;
  height: 100%;
  background: rgba(185, 12, 12, 0.8);
  border: 2px solid #FFFFFF;
  cursor: pointer;
}
.work__base {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 110px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  opacity: 0;
  text-align: center;
  color: #fff;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.work__base h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}
.work__base h4 {
  margin-top: 30px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}
.work__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.team {
  padding: 114px 0;
}
.team__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
}
.team__card {
  width: 260px;
  margin: 0 15px;
}
.team__img img {
  width: 100%;
}
.team__name {
  margin-top: 30px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: capitalize;
  color: #2D3033;
}
.team__position {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #FF4343;
}
.team__description {
  margin-top: 14px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #6C7279;
}
.team__social {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.team__link {
  margin-right: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 39px;
  height: 39px;
  border: 1px solid #C6CBCD;
  cursor: pointer;
  color: #C6CBCD;
  font-size: 18px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.team__link:hover {
  color: #FF4343;
  border: 1px solid #FF4343;
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}
.team__link:active {
  color: #E71414;
  border: 1px solid #E71414;
  -webkit-box-shadow: 4px 4px 30px #FF4343;
          box-shadow: 4px 4px 30px #FF4343;
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

.slider__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.slider__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 116px 170px 116px 129px;
  background: #5C3249;
}
.slider__img img {
  height: 100%;
}
.slider__text {
  font-family: "Cardo", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 36px;
  line-height: 49px;
  text-transform: capitalize;
  color: #FFFFFF;
}
.slider__name {
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.slider .slick-list {
  overflow: hidden;
}
.slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.slider .slick-dots li {
  margin-top: 31px;
  margin-right: 25px;
}
.slider .slick-dots li:last-child {
  margin-right: 0;
}
.slider .slick-dots li.slick-active button {
  background-color: #7E5D6F;
}
.slider .slick-dots li button {
  font-size: 0;
  width: 14px;
  height: 14px;
  background-color: #FFFFFF;
  border: 1px solid #7E5D6F;
  border-radius: 50%;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.download {
  padding: 114px 0;
}
.download__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.download__title {
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  color: #000000;
}
.download__name {
  margin-top: 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}