.about {
    padding: 56px 0 70px 0;
    background: #353C65;

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        width: 370px;
    }

    &__title {
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    &__desription {
        margin-top: 30px;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        text-transform: capitalize;
        color: #FFFFFF;
    }

    &__social {
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__link {
        margin: 6px 27px 0 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 39px;
        height: 39px;
        border: 1px solid #C6CBCD;
        cursor: pointer;
        color: #C6CBCD;
        font-size: 18px;
        transition: 0.3s ease;

        &:last-child {
            margin: 6px 0 0 0;
        }

        &:hover {
            color: $red-normal;
            border: 1px solid $red-normal;
            transform: scale(1.4);
        }

        &:active {
            color: $red-hover;
            border: 1px solid $red-hover;
            box-shadow: $box-shadow-active;
            transform: scale(1.4);
        }
    }

}